<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <div>posted by {{user.username}} on {{format_date created_at}}</div>
  </div>
  <div class="meta">
    <p>{{blog}}</p>
  </div>
</article>